body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.homescreen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gif source: threechainlinks.tumblr.com/post/79519642317 */
    background-image: url("https://media2.giphy.com/media/lFdorDl2MisYo/giphy.gif?cid=790b76115d266878436b424d36b0aa05&rid=giphy.gif");
    background-size: 1440px 740px;
}

.one-home {
    /* gif source: https://giphy.com/gifs/video-games-videogames-professorlightwav-26gQc8wnaYfMtqbxm */
    background-image: url("https://media0.giphy.com/media/26gQc8wnaYfMtqbxm/giphy.gif?cid=790b76115d266cca4b756744326b96d5&rid=giphy.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 1440px 740px;
}

.appears {
    opacity: 0;
    animation: appear 3s;
    animation-iteration-count: 1;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

@font-face {
    /* font-source: https://www.dafont.com/lethal-slime.font */
    font-family: slime;
    src: url(images/Lethal\ Slime.ttf);
}

.title {
    font-family: "slime", times;
    text-align: center;
    color: #427E33;
    /* font-size: 72px; */
    margin: 50px;
    height: 400px;
    animation: pulse 3s infinite;
    animation-direction: alternate;

}

@keyframes pulse {
    0% {
        font-size: 68px;
    }
    50% {
        font-size: 58px;
    }
    100% {
        font-size: 68px;
    }
}

.home-footer {
    height: 40px;
}

.home-footer-text {
    color: whitesmoke;
    font-size: 18px;
}
@font-face {
    /* font-source: https://www.dafont.com/cf-night-of-terror.font */
    font-family: blood;
    src: url('images/cf_night_of_terror/CFNightofTerrorPERSONAL-Reg.ttf')
}
.one-title {
    border: solid crimson 2px;
    font-family: blood;
    text-align: center;
    color: #FC040C;
    font-size: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.game-board {
    height: 500px;
    width: 500px;
    border: solid crimson 2px;
    margin: 0 auto;
    position: relative;
    /* img-source: https://opengameart.org/content/street-view */
    background-image: url("images/way.png");
}

.twoBoard {
    height: 600px;
    width: 600px;
}
    

.slime {
    width: 100px;
    height: 100px;
    /* img-source: https://opengameart.org/content/purple-slime-blob */
    background-image: url('images/purpleblobstill.png');
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
}

#clone {
    /* img-source: https://opengameart.org/content/puddle-corpses */
    /* photoshopped by myself to change colors */
    background-image: url('images/purp-puddle.png');
}

.car {
    width: 100px;
    height: 100px;
    /* img-source: https://opengameart.org/content/isometric-pixel-art-car */
    background-image: url('images/car.png');
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
}

.human {
    width: 100px;
    height: 100px;
    animation: moveMonk 2s infinite;
    animation-direction: alternate;
}

/* img source: https://opengameart.org/content/npc-monks */
@keyframes moveMonk {
    0% {
        background-image: url('images/monks.png');
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
    }
    50% {
        background-image: url('images/monks3\ copy.png');
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
    }
    100% {
        background-image: url('images/monks2.png');
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
    }
}

.info {
    font-family: blood;
    margin-bottom: 30px;
    font-size: 18px;
    color: #427E33;
}

.info-body {
    background-image: url("images/rain2.gif");
    background-size: 1440px 740px;
    background-color: black;
    background-repeat: no-repeat;
}

.info-display {
    background-image: url("images/brick.png");
    height: 500px;
    width: 500px;
    border: solid slategrey 6px;
    margin: 0 auto;
    position: relative;
}
.info-story{
    font-family: "slime", times;
    text-align: center;
    color: #FC040C;
    font-size: 36px;
}
.story-text {
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
    color: whitesmoke;
    text-align: center;
}

.return-home {
    font-family: blood;
    color: #FC040C;
    text-align: center;
    border: solid crimson 2px;
    margin-top: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}


/* Music sources: https://www.youtube.com/watch?v=POOBhJIQBIU&t=736s 
https://www.youtube.com/watch?v=Mr9T-943BnE
https://www.youtube.com/watch?v=h7T6ZNgoP5M&t*/
#music {
    visibility: hidden;
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: #FC040C;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

/* Source for all button CSS below: https://www.bestcssbuttongenerator.com/#/18  */
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #9fb4f2;
	-webkit-box-shadow: 3px 4px 0px 0px #9fb4f2;
	box-shadow: 3px 4px 0px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, black 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#427E33;
	font-family: blood;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
